﻿<div class="card">
	<div class="card-header">
		<a class="navbar-brand" href="~/Home/Index">Home</a>
		<a class="navbar-brand" href="~/Controller1/Register">Register</a>
		<a class="navbar-brand" href="~/Controller1/Login">Login</a>
		<div class="navbar-brand dropdown show">
			<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Master
			</a>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
				<a class="dropdown-item" href="~/Controller1/MasterSkill">Skill</a>
				<a class="dropdown-item" href="~/Controller1/MasterSkillLevel">Skill Lv</a>
			</div>
		</div>
		<div class="navbar-brand dropdown show">
			<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				User
			</a>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
				<a class="dropdown-item" href="~/Controller1/UserProfil">User Profile</a>
				<a class="dropdown-item" href="~/Controller1/UserSkill">User Skill</a>
			</div>
		</div>
	</div>
	<div class="card-body">
		
	</div>
</div>	