﻿<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" method="post" id="form-create" name="form-create">
            <p class="text-danger">@ViewBag.ErrorMessage</p>
            <div class="form-group">
                <label class="control-label">Skill Level Name</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>                
            </div>
        </form>
    </div>
</div>