﻿<div class="content">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
				<form method="#" action="#">
					<div class="card" data-background="color" data-color="blue">
						<div class="card-header">
							<h3 class="card-title">Login</h3>
						</div>
						<div class="card-content">
							<div class="form-group">
								<label>Email address</label>
								<input type="email" placeholder="Enter email" class="form-control input-no-border">
							</div>
							<div class="form-group">
								<label>Password</label>
								<input type="password" placeholder="Password" class="form-control input-no-border">
							</div>
							<div >
								<button class="btn btn-success">
									<a href="~/Home/Index" style="color: black" class="font-weight-bold">Submit</a>
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>