﻿@{
	ViewData["Title"] = "MasterSkill";
}

<div class="card">
	<div class="row card-header">
		<button type="button" class="btn btn-primary" data-toggle="modal" id="btn-create">
			Create
		</button>
	</div>
	<div class="card-body">
		<table class="table">
			<thead>
				<tr>
					<th>
						Skill Level Id
					</th>
					<th>
						Skill Level Name
					</th>
					<th>

					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						1
					</td>
					<td>
						Skill A
					</td>
					<td>
						<div class="btn-group" role="group" aria-label="Basic example">
							<button type="button" class="btn btn-warning btn-edit" title="Edit"><i class="fas fa-edit"></i></button>
							<button type="button" class="btn btn-danger btn-delete" title="Delete"><i class="fas fa-trash-alt"></i></button>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						2
					</td>
					<td>
						Skill B
					</td>
					<td>
						<div class="btn-group" role="group" aria-label="Basic example">
							<button type="button" class="btn btn-warning btn-edit" title="Edit"><i class="fas fa-edit"></i></button>
							<button type="button" class="btn btn-danger btn-delete" title="Delete"><i class="fas fa-trash-alt"></i></button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				...
			</div>
			@*<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
				</div>*@
		</div>
	</div>
</div>

@section Scripts{
<script type="text/javascript">
	$('#btn-create').click(function(){
		$.ajax({
			url:'@Url.Action("CreateMasterSkill")',
			type: 'get',
			success: function(result){
				$('.modal-title').html("Create New Master Skill");
				$('.modal-body').html(result);
				$('#formModal').modal('show');
			}
		})
	})

	$('.btn-edit').click(function(){
		$.ajax({
			url:'@Url.Action("EditMasterSkill")',
			type: 'get',
			success: function(result){
				$('.modal-title').html("Edit New Master Skill");
				$('.modal-body').html(result);
				$('#formModal').modal('show');
			}
		})
	})
</script>
}