﻿<div class="card">
	<div class="card-content">
		<h1 class="card-title font-weight-bold">Register</h1>
		<br />
		<br />
		<fieldset>
			<div class="form-group">
				<label class="col-sm-2 control-label">
					Username
				</label>
				<div class="col-sm-6">
					<input class="form-control" type="text" name="Username" id="Username">
				</div>
			</div>
		</fieldset>
		<fieldset>
			<div class="form-group">
				<label class="col-sm-2 control-label">
					Name
				</label>
				<div class="col-sm-6">
					<input class="form-control" type="text" name="Name" id="Name">
				</div>
			</div>
		</fieldset>
		<fieldset>
			<div class="form-group">
				<label class="col-sm-2 control-label">
					Address
				</label>
				<div class="col-sm-6">
					<textarea class="form-control" type="text" name="Address" id="Address" rows="3"></textarea>
				</div>
			</div>
		</fieldset>
		<fieldset>
			<div class="form-group">
				<label class="col-sm-2 control-label">
					Birth of Date
				</label>
				<div class="col-sm-6">
					<input class="form-control" type="date" name="BOD" id="BOD">
				</div>
			</div>
		</fieldset>
		<fieldset>
			<div class="form-group">
				<label class="col-sm-2 control-label">
					Email
				</label>
				<div class="col-sm-6">
					<input class="form-control" type="text" name="email" email="true">
				</div>
			</div>
		</fieldset>
		<fieldset>
			<div >
				<button class="btn btn-success">
					<a href="~/Home/Index" style="color: black" class="font-weight-bold" >Submit</a>
				</button>
			</div>
		</fieldset>
	</div>
</div>